# ForgeGradle
/.gradle
/build

# Eclipse
/.externalToolBuilders
.classpath
.project
/.settings
/bin

# IntelliJ
/.idea
*.iml
*.ipr
*.iws
/out

# Mac Stuff
.DS_Store
*.command
/bin/
/bin/
/bin/
bin/assets/
run/
bin/
build/
eclipse/
logs/
mods/
config/
saves/
.gradle/
.settings/
gradlew
gradlew.bat
server.properties 
gradle/
*.properties 
.gradle/
screenshots/
.metadata/
.settings/
.classpath
CG/
DH/
II/
PE/
IT/
IG/
PMH/
HI/
.project
gradlew
options.txt
usernamecache.json
crash-reports/
*.fdx
*.fnm
*.tis
.recommenders/
.gitattributes